<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/main.css') }}">
    <title>{% block title %}Pro Node{% endblock %}</title>
</head>
<body class="bg-animate">
    {% include 'partials/nav.html' %}
    
    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <footer class="glass-footer">
        Node Cluster: {{ request.headers.get('host') }}
    </footer>
</body>
</html>
